# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.idea/springCloud.iml
out
gen
config-server/target/
config-server/config-server.iml
